<!DOCTYPE html>

<html lang="en" ng-app="MonkeyApp" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Monkey App</title>

  <!-- STYLES -->
  <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="static/app.css">

</head>

<body>
  
  <div ng-controller="NavbarCtrl">
    <div ng-include src="'/static/navbar/navbar.html'">
    </div>
  </div>

  <div class="container-fluid">
    <div ui-view></div>
  </div>

  <footer class="footer">
    <div class="container">
      <ul class="footerList">
        <li><p>&copy; 2015 MonkeyApp</p></li>
        <li><a href="https://github.com/Xmary/monkeyApp">About</a></li>
      </ul>
    </div>
  </footer>

  <!-- SCRIPTS -->
  <!-- Angular components -->
  <!-- TODO: MINIMIZE IN PRODUCTION -->
  <script src="static/bower_components/angular/angular.js"></script>
  <script src="static/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <!-- For styling -->
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>



  <!-- Custom JS -->
  <script src="static/app.js"></script>

    <!-- Components -->
  <script src="static/components/services/monkey.js"></script>


  <!-- Controllers -->
  <script src="static/home/home.js"></script>
  <script src="static/single/single.js"></script>
  <script src="static/list/list.js"></script>
  <script src="static/navbar/navbar.js"></script>




</body>
</html>