/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
body > .container {
  padding-top: 60px;
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}
.footerList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footerList > li {
  float: left;
  padding-right: 50px;
}
.footerText {
  display: block;
  width: 200px;
}

/* Style for navbar */
.navbar-brand {
  padding-top: 11px;
}

/*
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.selectParent{
    width:100%;
    overflow:hidden;
}

.selectParent select{
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 2px;
    background: transparent url("../static/images/caret_down.svg") no-repeat;
    background-position: 98%, 50%;
}
*/
.table th, .table td { 
     border-top: none !important; 
 }

 .table-panel {
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 0px;
 }

 .table-panel > table {
      padding-bottom: 0px;
      margin-bottom: 0px;
 }

 .fa-user {
      color: #FF7400;
 }

 .fa-users {
      color: #446e9b;
 }
